/*Common styles*/

body {
	border: 20px solid #2b81ac;
	background-color: #3399cc;
}


/*Header styles*/

.container {
	width: 100%;
	max-width: 960px;
	font-size: 0;
	margin: 0 auto;
	font-family: “Lucida Sans Unicode”, “Lucida Grande”, sans-serif;
	color: white;
}

.site-header h1 {
	display: inline-block;
	margin-top: 32px;
	margin-bottom: 32px;
	width: 30%;
	font-size: 25px;
}

.site-header .wi {
	display: inline-block;
	width: 70%;
	font-size: 25px;
}


/*Main styles*/

.cities {
	padding-left: 0;
	font-size: 0;
	list-style: none;
}

.cities li {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: inline-block;
	width: 100%;
	text-align: center;
}

.cities .box1 {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 2px solid white;
	display: inline-block;
	width: 50%;
}

.cities .box2 {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-color: #33cccc;
	display: inline-block;
	border: 2px solid white;
	width: 25%;
}

.cities .box3 {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-color: #996699;
	border: 2px solid white;
	display: inline-block;
	width: 25%;
}

.cities .box4 {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-color: #c24747;
	border: 2px solid white;
	display: inline-block;
	width: 25%;
}

.cities .box5 {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-color: #e2674a;
	border: 2px solid white;
	display: inline-block;
	width: 25%;
}

.cities .box6 {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-color: #ffcc66;
	border: 2px solid white;
	display: inline-block;
	width: 25%;
}

.cities .box7 {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-color: #99cc99;
	border: 2px solid white;
	display: inline-block;
	width: 25%;
}

.cities .box8 {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-color: #669999;
	border: 2px solid white;
	display: inline-block;
	width: 50%;
}

.cities .box9 {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-color: #cc6699;
	border: 2px solid white;
	display: inline-block;
	width: 25%;
}

.cities .box10 {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-color: #339966;
	border: 2px solid white;
	display: inline-block;
	width: 25%;
}

.cities .box11 {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-color: #666699;
	border: 2px solid white;
	display: inline-block;
	width: 100%;
}

.cities li h2 {
	font-size: 20px;
}

.cities li p {
	display: inline-block;
	margin-top: 5px;
	font-size: 20px;
}

.cities li i {
	font-size: 20px;
}

.cities li:hover {
	background-color: rgba(255, 255, 255, 0.5);
}


/*Footer styles*/

footer h3 {
	margin-top: 40px;
	margin-bottom: 40px;
	font-size: 16px;
}

@media only screen and (min-width : 320px) and (max-width : 480px) {
	.cities .box1 { width: 100%; }
	.cities .box2 { width: 100%; }
	.cities .box3 { width: 100%; }
	.cities .box4 { width: 100%; }
	.cities .box5 { width: 100%; }
	.cities .box6 { width: 100%; }
	.cities .box7 { width: 100%; }
	.cities .box8 { width: 100%; }
	.cities .box9 { width: 100%; }
	.cities .box10 { width: 100%; }
}
